<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.larimar.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="comment">
    <id column="comment_id" property="commentId" />
    <result column="user_id" property="userId" />
    <result column="content" property="content" />
    <result column="status" property="status" />
    <result column="time" property="time" />
    <result column="aim" property="commentAim"/>
    <result column="detail_id" property="detailId"/>
    <result column="comic_id" property="comicId"/>
      <association property="user" javaType="user" column="user_id" resultMap="com.larimar.mapper.UserMapper.BaseResultMap"/>
  </resultMap>

  <insert id="addComicComment" parameterType="comment">
    insert into comment(comment_id, user_id, comic_id, content, status, time)
    values (#{commentId},#{userId},#{comicId},#{content},#{status},#{time})
  </insert>

  <insert id="addDetailComment" parameterType="comment">
    insert into comment(comment_id, user_id, detail_id, content, status, time)
    values (#{commentId},#{userId},#{detailId},#{content},#{status},#{time})
  </insert>

  <insert id="addRevertComment" parameterType="comment">
    insert into comment(comment_id, user_id, aim, content, status, time)
    values (#{commentId},#{userId},#{commentAim},#{content},#{status},#{time})
  </insert>
  <insert id="addComment">
    insert into comment(comment_id, user_id, aim,comic_id,detail_id, content, status, time)
    values (#{commentId},#{userId},
            <if test="commentAim!=null">
                aim=#{commentAim},
            </if>
            <if test="comicId!=null">
                 comic_id=#{comicId},
            </if>
            <if test="detailId!=null">
              comic_id=#{detailId},
            </if>
            #{content},#{status},#{time})
  </insert>

  <delete id="delUserComment" parameterType="Integer">
    delete from comment
    where comment_id = #{commentId} and user_id=#{userId}
  </delete>
  <delete id="delComment" parameterType="Integer">
        delete from comment
        where comment_id = #{commentId}
  </delete>
  <update id="updateCommentStatus" >
    update comment
    <set>
        <if test="status!=null">
            status = #{status}
        </if>
        <if test="status=null">
            status = 0
        </if>
    </set>
    <where>
        <if test="userId!=null">
          user_id = #{userId}
        </if>
        <if test="commentId!=null">
          and comment_id = #{commentId}
        </if>
    </where>
  </update>
    <update id="updateComment">
        update comment
        <set>
            <if test="userId!=null">
                user_id = #{userId}
            </if>
            <if test="commentAim!=null">
                aim = #{commentAim}
            </if>
            <if test="comicId!=null">
                comic_id = #{comicId}
            </if>
            <if test="detailId!=null">
                detail_id = #{detailId}
            </if>
            <if test="content!=null">
                content = #{content}
            </if>
            <if test="time!=null">
                time = #{time}
            </if>
            <if test="status!=null">
                status = #{status}
            </if>
            <if test="status=null">
                status = 0
            </if>
        </set>
        <where>
            <if test="commentId!=null">
                and comment_id = #{commentId}
            </if>
        </where>
    </update>

    <select id="selectUsersComments" parameterType="Integer" resultMap="BaseResultMap">
    select *
    from comment,user
    where user.user_id = comment.user_id and comment.user_id = #{userId} order by time desc
  </select>

  <select id="selectComicComments" parameterType="Integer" resultMap="BaseResultMap">
      select *
      from comment,user
      where user.user_id = comment.user_id and comment.comic_id = #{comicId} order by time desc
  </select>

  <select id="selectDetailComments" parameterType="Integer" resultMap="BaseResultMap">
    select *
    from comment,user
    where user.user_id = comment.user_id and comment.detail_id = #{detailId} order by time desc
  </select>

  <select id="selectRevertComments" parameterType="Integer" resultMap="BaseResultMap">
    select *
    from comment,user
    where user.user_id = comment.user_id and aim = #{commentAim} order by time
  </select>
  <select id="selectUsersRevertComments" resultMap="BaseResultMap">
    select *
    from comment,user
    where user.user_id = comment.user_id
      and aim in
          (SELECT comment_id
          FROM comment WHERE
            user_id = 1)
    order by time
  </select>
<!--  查看用户对应状态的评论-->
  <select id="selectCommentsByStatus" parameterType="Integer" resultMap="BaseResultMap">
    select *
    from comment,user
    where user.user_id = comment.user_id
      and aim in (select comment_id from comment where user_id=#{userId})
      and comment.status=#{status}
    order by time desc;
  </select>
    <select id="queryAllComments" resultMap="BaseResultMap">
      select *
      from comment,user
      where user.user_id = comment.user_id order by time desc
    </select>
  <select id="selectCommentById" resultMap="BaseResultMap">
      select *
      from comment,user
      where user.user_id = comment.user_id and comment_id = #{commentId}
  </select>
</mapper>