<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.larimar.mapper.DetailMapper">
  <resultMap id="BaseResultMap" type="detail">
    <id column="detail_id" property="detailId" />
    <result column="comic_id"  property="comicId" />
    <result column="chaptername"  property="chapterName" />
    <result column="path" property="path" />
    <result column="generalize" property="generalize"/>
    <result column="updatetime"  property="updateTime" />
      <association property="comic" javaType="comic" column="comic_id" resultMap="com.larimar.mapper.ComicMapper.BaseResultMap"/>
  </resultMap>

  <insert id="addDetail" parameterType="detail">
    insert into detail(detail_id, comic_id, chaptername, path, generalize, updatetime)
    values (#{detailId},#{comicId},#{chapterName},#{path},#{generalize},#{updateTime})
  </insert>

  <delete id="delDetail" parameterType="Integer">
    delete from detail
    where detail_id = #{detailId}
  </delete>

  <update id="updateDetail" parameterType="detail">
      update detail
    <set>
        <if test="chapterName!=null">
            chaptername = #{chapterName},
        </if>
        <if test="path!=null">
            detail.path = #{path},
        </if>
        <if test="generalize!=null">
          generalize=#{generalize},
        </if>
        <if test="updateTime!=null">
          updatetime=#{updateTime}
        </if>
    </set>
    <where>
      <if test="detailId!=null">
        detail_id = #{detailId}
      </if>
      <if test="comicId!=null">
        and comic_id = #{comicId}
      </if>
    </where>
  </update>

    <select id="selectAllDetails" resultMap="BaseResultMap">
        select detail_id,detail.comic_id, chaptername,
               detail.path as path, generalize, updatetime,
               comic.comic_id, comic.root, comicname, author,
               status, type, location, newupdate,
               newchaptername, introduction, mark
        from detail,comic
        where detail.comic_id=comic.comic_id
        order by detail_id desc
    </select>

  <select id="selectComicAllDetails" parameterType="Integer" resultMap="BaseResultMap">
      select detail_id,detail.comic_id, chaptername,
             detail.path as path, generalize, updatetime,
             comic.comic_id, comic.root, comicname, author,
             status, type, location, newupdate,
             newchaptername, introduction, mark
    from detail,comic
    where detail.comic_id=comic.comic_id
      and detail.comic_id = #{comicId}
    order by updatetime desc
  </select>

  <select id="selectDetailsByType" parameterType="String" resultMap="BaseResultMap">
    <bind name="likeType" value="'%' +type+ '%'"/>
      select detail_id,detail.comic_id, chaptername,
      detail.path as path, generalize, updatetime,
      comic.comic_id, comic.root, comicname, author,
      status, type, location, newupdate,
      newchaptername, introduction, mark
    from detail,comic
    where detail.comic_id=comic.comic_id
      and detail.comic_id
              in (select comic.comic_id from comic where type like #{likeType})
    order by updatetime DESC
  </select>
    <select id="getDetailById" resultMap="BaseResultMap">
        select detail_id,detail.comic_id, chaptername,
               detail.path as path, generalize, updatetime,
               comic.comic_id, comic.root, comicname, author,
               status, type, location, newupdate,
               newchaptername, introduction, mark
        from detail,comic
        where detail.comic_id=comic.comic_id and detail_id = #{detailId}
    </select>
    <select id="selectDetailByComicIdAndChapter" resultMap="BaseResultMap">
        select detail_id,detail.comic_id, chaptername,
               detail.path as path, generalize, updatetime,
               comic.comic_id, comic.root, comicname, author,
               status, type, location, newupdate,
               newchaptername, introduction, mark
        from detail,comic
        where detail.comic_id=comic.comic_id and detail.comic_id = #{comicId}
        and chapterName = #{chapterName}
    </select>
    <select id="selectByOptions" parameterType="com.larimar.selectPojo.DetailSelect" resultMap="BaseResultMap">

        select * from detail,comic
        where detail.comic_id=comic.comic_id
        <if test="comicName!=null">
            <bind name="comicLike" value="'%'+comicName+'%'"/>
            <if test="comicName!=''">
                and comic.comicname like #{comicLike}
            </if>
        </if>
        <if test="typeName!=null">
            <bind name="likeType" value="'%' +typeName+ '%'"/>
            <if test="typeName!=''">
                and comic.type like #{likeType}
            </if>
        </if>
          <if test="location!=''">
            and comic.location=#{location}
        </if>
    </select>
</mapper>