<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.larimar.mapper.HistoryMapper">
  <resultMap id="BaseResultMap" type="history">
    <id column="history_Id"  property="historyId" />
    <result column="user_id"  property="userId" />
    <result column="comic_id"  property="comicId" />
    <result column="detail_id"  property="detailId" />
    <result column="lastreadtime" property="lastReadTime" />
    <result column="status" property="status" />
      <association property="comic" javaType="comic" column="comic_id" resultMap="com.larimar.mapper.ComicMapper.BaseResultMap"/>
      <association property="user" javaType="user" column="user_id" resultMap="com.larimar.mapper.UserMapper.BaseResultMap"/>
      <association property="detail" javaType="detail" column="detail_id" resultMap="com.larimar.mapper.DetailMapper.BaseResultMap"/>
  </resultMap>
  <insert id="addHistory" parameterType="history">
    insert into history(history_id, user_id, comic_id, detail_id, lastreadtime, status)
    values (#{historyId},#{userId},#{comicId},#{detailId},#{lastReadTime},#{status})
  </insert>
  <delete id="delHistory" parameterType="Integer">
    delete from history
    where history_id = #{historyId}
  </delete>
  <update id="updateHistoryStatus" parameterType="Integer">
    update history
    <set>
      <if test="status!=null">
        status=#{status}
      </if>
    </set>
    <where>
      <if test="comicId!=null">
        comic_id =#{comicId}
      </if>
    </where>
  </update>
  <update id="updateHistory" parameterType="History">
    update history
    set detail_id = #{detailId},lastreadtime = #{lastReadTime},status = #{status}
    where comic_id = #{comicId} and user_id = #{userId} and history_id=#{historyId}
  </update>
  <select id="selectAllHistory" resultMap="BaseResultMap">
    select *
    from history,comic,user,detail
    where history.comic_id = comic.comic_id and history.comic_id  = detail.comic_id and
      history.detail_id = detail.detail_id and user.user_id = history.user_id
    order by history_id desc
  </select>
  <select id="selectHistoryById" resultMap="BaseResultMap">
    select *
    from history,comic,user,detail
    where history.comic_id = comic.comic_id and history.comic_id  = detail.comic_id and
      history.detail_id = detail.detail_id and user.user_id = history.user_id
      and history_id=#{historyId}
  </select>
    <select id="selectUsersAllHistory" parameterType="Integer" resultMap="BaseResultMap">
      select *
      from history,comic,user,detail
      where history.comic_id = comic.comic_id and history.comic_id  = detail.comic_id and
           history.detail_id = detail.detail_id and user.user_id = history.user_id
        and history.user_id=#{userId}
    </select>
  <select id="selectHistoryByStatus" resultMap="BaseResultMap">
    select *
    from history,comic,user,detail
    where history.comic_id = comic.comic_id and history.comic_id  = detail.comic_id and
      history.detail_id = detail.detail_id and user.user_id = history.user_id
      and history.user_id=#{userId} and history.status=#{status}
  </select>
</mapper>