<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.larimar.mapper.OrdersMapper">
    <insert id="addOrders" parameterType="orders">
        insert into orders(orders_id, comic_id, user_id, status)
        values (#{ordersId},#{comicId},#{userId},#{status})
    </insert>
    <delete id="delOrders" parameterType="Integer">
        delete from orders
        where orders_id = #{ordersId}
    </delete>
    <update id="updateOrders">
        update orders
    <set>
        <if test="status!=null">
            status=#{status}
        </if>
    </set>
    <where>
        <if test="comicId!=null">
            comic_id = #{comicId}
        </if>
    </where>
    </update>
    <update id="updateUserOrders">
        update orders
        <set>
            <if test="status!=null">
                status = #{status}
            </if>
        </set>
        <where>
            <if test="comicId!=null">
                comic_id = #{comicId}
            </if>
            <if test="userId!=null">
               and user_id = #{userId}
            </if>
        </where>
    </update>

    <select id="selectUsersAllOrders" parameterType="Integer" resultMap="BaseResultMap">
        select *
        from orders,
             user,
             comic
        where comic.comic_id = orders.comic_id
          and orders.user_id = `user`.user_id
          and orders.user_id = #{userId};
    </select>
    <select id="selectAllOrders" resultMap="BaseResultMap">
        select *
        from orders,
             user,
             comic
        where comic.comic_id = orders.comic_id
          and orders.user_id = `user`.user_id
            order by orders_id desc
    </select>
    <resultMap id="BaseResultMap" type="orders">
        <id property="ordersId" column="orders_id"/>
        <result property="comicId" column="comic_id"/>
        <result property="userId" column="user_id"/>
        <result property="status" column="status"/>
        <association property="comic" javaType="comic" column="comic_id" resultMap="com.larimar.mapper.ComicMapper.BaseResultMap"/>
        <association property="user" javaType="user" column="user_id" resultMap="com.larimar.mapper.UserMapper.BaseResultMap"/>
    </resultMap>
    <select id="selectAllOrdersByStatus" resultMap="BaseResultMap">
        select *
        from orders,
             user,
             comic
        where comic.comic_id = orders.comic_id
          and orders.user_id = `user`.user_id
          and orders.user_id = #{userId}
          and orders.status = #{status};
    </select>
</mapper>