<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>I❤Manb 爱漫吧</title>
    <link  rel="shortcut icon" th:href="@{/static/images/icon/logo.ico}"/>
    <link rel="stylesheet" th:href="@{/static/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/static/css/mycss.css}">
    <!-- <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script> -->
    <script type="text/javascript" th:src="@{/static/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/static/js/jquery-migrate-1.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/functions.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/my.js}"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" th:src="@{/static/js/selectivizr-min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/PIE.htc}"></script>
    <![endif]-->
</head>
<script  th:inline="javascript">

    var userId = [[${session.user.userId}]];
</script>
<body class="detail">

<div class="elastic">
    <!-- 头部 -->
    <div id="header" class="grid-clear">
        <div class="grid" id="logo"><a th:href="@{/index}" class="settings-text">I❤Man 爱漫吧</a></div>
        <div class="grid main-menu-block">
            <ul id="main-menu">
                <li>
                    <form class="search">
                        <div class="form-group">
                            <input type="text" name="comicName" class="form-control" placeholder="搜索漫画">
                        </div>
                    </form>
                </li>
                <li><a th:href="@{/index}" class="settings-txt">首页</a></li>
                <li><a th:href="@{/list(pn=1)}" class="settings-txt">分类</a></li>
                <li><a th:href="@{/updateLog}" class="settings-txt">更新日志</a></li>
                <li><a th:href="@{/about}" class="settings-txt">说明</a></li>
                <li><a th:href="@{/contact}" class="settings-txt">联系我们</a></li>
                <li>
                    <div th:unless="${session.user}!=null">
                        <button  class="btn btn-primary btn-lg" data-toggle="modal"
                                 data-target="#login">注册/登录</button>
                    </div>
                    <div th:if="${session.user}!=null" th:object="${session.user}"  class="user">
                        <div class="left">
                            <a th:href="@{/user}" class="user-ican"><img th:src="|/images/user/*{photo}.jpg|" alt=""></a>
                            <p class="center username mytext-p" th:text="*{nickName}">读者老爷</p>
                        </div>
                        <a class="loginOut right" th:href="@{/loginOut}" >退出</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

<!-- HERE START PAGE HEADER DESCRIPTION -->
<div id="all_page_header">
    <div class="bg_wood_page circle-inline-border"></div>
    <div class="elastic inline-border settings-clr no-second" id="page_header">
        <!--漫画名-->
        <h1 class="over5" th:text="${session.detail.comic.comicName}">机械迷城</h1>
        <div class="intro-description over5">
            <!--章节-->
            <div class="right">
            <p class="mytext-title" th:text="${session.detail.chapterName}">第28话:孤独的伊娃</p>
            <!--简述-->
            <p class="left" th:text="${session.detail.generalize}">机械之城被毁灭后，只有伊娃一个机器人活了下来。</p>
            </div>
        </div>
    </div>
</div>
<!-- end of page header description -->

<!-- HERE START CONTENT -->
<div class="content elastic">
    <div class="grid-system blog">
        <div class="grid  mr60 blog-content">
            <div class="article-blog grid-system new-pic">
                <div class="grid comment-date w95">
                    <!--更新日期-->
                    <div class="circle-area circle-inline-border settings-clr no-second">
                        <div class="date-blog">
                            <p class="day" th:text="${#strings.substring(session.detail.updateTime,9,10)}">
                                12
                            </p>
                            <p class="month" th:text="${#strings.substring(session.detail.updateTime,5,7)}">FEB</p>
                            <p class="year" th:text="${#strings.substring(session.detail.updateTime,0,4)}">2012</p>
                        </div>
                    </div>
                    <div class="myData">
                        <a class="comments">113</a>
                        <a class="isLike  likeIt" th:attr="detail-id=${session.detail.detailId}"
                           th:text="'💙 '+${session.detail.likes}">🖤206</a>
                        <a class="isLike delLike hideIt" th:attr="detail-id=${session.detail.detailId}"
                           th:text="'💔 '+${session.detail.likes}">💔206</a>
                    </div>
                </div>
                <div class="grid article-content w775 pic-items" style="margin-bottom:0">
                    <ul class="pic-item">
                        <li class="item" th:each="image:${session.detail.getImages()}">
                            <img th:src="|/images/comics/${session.detail.comic.root}/${session.detail.path}/${image}|" width="800" alt="">
                        </li>
                    </ul>
                    <!--标题-->
                    <h2 class="blog-title mt25 ml100" th:text="${session.detail.chapterName}">第28话:孤独的伊娃</h2>
                    <!--描述-->
                    <p class="blog-excerpt ml100" th:text="${session.detail.generalize}">机械之城被毁灭后，只有伊娃一个机器人活了下来，她提着矿灯在自己的小屋里面独自发呆，
                        想起了之前和卡鲁一起玩耍的快乐时光。 于是她决定动身去寻找他们曾经在一起的痕迹，把那些记忆永远的存下来。</p>
                </div>
                <div class="pageBtn center">
                        <button type="button" class="btn btn-warning ml100  preImg">上一页</button>
                        <button type="button" class="btn btn-warning ml25 NextImg">下一页</button>
                </div>
            </div>

            <!--分享-->
            <div class="share-this">
                <span class="dotted-line">&nbsp;</span>
                <div class="inside-share">
                    <div class="social-info left">
                        <p class="blue settings-text">分享这章</p>
                        <small>By: <strong>Larimar</strong></small>
                    </div>
                    <!--判断是否关注-->
                    <div class="focus right">
                        <button type="button" class="btn btn-danger order orderIt" th:attr="comic-id=${session.detail.comic.comicId}">订阅漫画</button>
                        <button type="button" class="btn btn-danger order hideIt delOrder" th:attr="comic-id=${session.detail.comic.comicId}">取消订阅</button>
                        <a type="button" class="btn btn-success" th:href="@{/detail(id=${session.detail.comic.comicId})}">返回目录</a>
                    </div>
                    <div class="social-media right">
                        <!--//th标签中直接写字符串可以用||括起来-->
                        <a href="#"><img th:src="|/images/social-media/fb.png|" alt=""/></a>
                        <a href="#"><img th:src="|/images/social-media/twitter.png|" alt=""/></a>
                        <a href="#"><img th:src="|/images/social-media/youtube.png|" alt=""/></a>
                        <a href="#"><img th:src="|/images/social-media/deviant.png|" alt=""/></a>
                        <a href="#"><img th:src="|/images/social-media/flickr.png|" alt=""/></a>
                        <a href="#"><img th:src="|/images/social-media/delicious.png|" alt=""/></a>
                        <a href="#"><img th:src="|/images/social-media/linkedin.png|" alt=""/></a>
                        <a href="#"><img th:src="|/images/social-media/googlebuzz.png|" alt=""/></a>
                        <a href="#"><img th:src="|/images/social-media/stumbleupon.png|" alt=""/></a>
                        <a href="#"><img th:src="|/images/social-media/digg.png|" alt=""/></a>
                    </div>
                    <div class="clear"></div>
                </div>
                <span class="dotted-line">&nbsp;</span>
            </div>

            <!--评论内容-->
            <!-- HERE START COMMENTS AREA -->
            <h1 class="title-line blue"><span class="current-bg pr5 settings-text">漫画评论</span></h1>
            <div class="comments-area detailComment">
                <div class="comments-block commentDiv" th:each="reply:${session.detailReply.replyList}">
                    <div>
                        <!--用户名-->
                        <h3 class="com-author" th:text="${reply.user.userName}">用户:</h3>
                        <!--评论时间-->
                        <p class="com-text mytext-p3" th:text="${reply.content}">
                            这一章节的内容太好了
                        </p>
                        <small th:text="${reply.time}">Feb, 20 2012 at 3:00 pm -</small>
                        <!--判断是否是自己的评论-->
                        <a href="#" th:if="${session.user.userId}!=${reply.user.userId}" class="blue reply-button revert"
                           th:attr="bind-id=${reply.commentId},userId=${reply.user.userId}"><label for="comment">回复</label>
                        </a>
                        <a href="#" th:if="${session.user.userId}==${reply.user.userId}" class="del-button red revert"
                           th:attr="bind-id=${reply.commentId},detail-id=${reply.detailId}"><label>删除</label>
                        </a>
                        <a class="revert-user">
                            <img th:src="|/images/user/${reply.user.photo}.jpg|" alt="">
                        </a>
                    </div>
                    <!--回复内容用 class reply-comment-->
                    <div class="comments-block mt25 reply-comment" th:each="revert:${reply.replyList}">
                        <h3 class="com-author" th:text="${revert.user.userName}+':@'+${reply.user.userName}">用户:@皮皮虾</h3>
                        <p class="com-text mytext-p3" th:text="${revert.content}">
                            画质也特别赞！
                        </p>
                        <small th:text="${revert.time}">Feb, 20 2012 at 3:00 pm -</small>
                        <a href="#" th:if="${session.user.userId}!=${revert.user.userId}" class="blue reply-button revert"
                           th:attr="bind-id=${revert.commentId}"><label for="comment">回复</label>
                        </a>
                        <a href="#" th:if="${session.user.userId}==${revert.user.userId}" class="del-button red revert"
                           th:attr="bind-id=${revert.commentId},detail-id=${reply.detailId}"><label>删除</label>
                        </a>
                        <a class="revert-user">
                            <img  th:src="|/images/user/${revert.user.photo}.jpg|" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="space30"></div>
            <h1 class="title-line blue"><span class="current-bg pr5 settings-text">发送评论</span></h1>
            <div class="space30"></div>
            <div class="contact-form">
                <form action="/" id="detailCommentForm" method="post">
                    <div class="block-form">
                        <textarea name="content" id="comment" cols="30" rows="10" placeholder="评论..."></textarea>
                    </div>
                    <input type="hidden" name="detailId" th:value="${session.detail.detailId}">
                    <input type="hidden" name="commentAim" id="revertId">
                    <div class="block-form" th:if="${session.user}!=null">
                        <button type="button" id="detail-comment" class="btn-primary btn">发送评论</button>
                    </div>
                </form>
                <div class="unLogin" th:unless="${session.user}!=null">
                    <button class="title-large unLogin-info">请先登录！！！</button>
                </div>
            </div>
        </div> <!-- .comments-area end of comment area block -->
    </div>
</div> <!-- #content -->


<!-- HERE START FOOTER -->
<div id="footer" class="circle-inline-border">
    <div class="elastic">
        <div class="top_footer">
            <div class="footer_widget">
                <h3 class="general-font">Pages</h3>
                <ul>
                    <li><a th:href="@{index.html}">Home Page</a></li>
                    <li><a th:href="@{about.html}">About Page</a></li>
                    <li><a th:href="@{services.html}">Services Page</a></li>
                    <li><a th:href="@{list.html}">Portfolio Page</a></li>
                    <li><a th:href="@{updateLog.html}">Blog Page</a></li>
                    <li><a th:href="@{contact.html}">Contact Page</a></li>
                </ul>
            </div><!-- .footer_widget_1 -->

            <div class="footer_widget">
                <h3 class="general-font">Services</h3>
                <ul>
                    <li><a href="#">Website Design</a></li>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">Optimization</a></li>
                    <li><a href="#">Ecommerce</a></li>
                    <li><a href="#">Photography</a></li>
                    <li><a href="#">Branding</a></li>
                </ul>
            </div><!-- .footer_widget_2 -->

            <div class="footer_widget">
                <h3 class="general-font">Why Us?</h3>
                <ul>
                    <li><a href="#">Easy to Customize</a></li>
                    <li><a href="#">Userfriendly</a></li>
                    <li><a href="#">Pixel Perfect</a></li>
                    <li><a href="#">Clean & Modern</a></li>
                    <li><a href="#">Complete Pages</a></li>
                    <li><a href="#">Add Color You Like</a></li>
                </ul>
            </div><!-- .footer_widget_3 -->
            <div class="clear"></div>
            <div class="footer_image">
                <img class="inline-border active" th:src="|/images/slider/footer_home.jpg|" alt=""
                     width="450"
                     height="250"/>
                <img class="inline-border" th:src="|/images/slider/footer_2.jpg|" alt="" width="450"
                     height="250"/>
                <img class="inline-border" th:src="|/images/slider/footer_3.jpg|" alt="" width="450"
                     height="250"/>
                <img class="inline-border" th:src="|/images/slider/footer_4.jpg|" alt="" width="450"
                     height="250"/>
                <img class="inline-border" th:src="|/images/slider/footer_5.jpg|" alt="" width="450"
                     height="250"/>
                <img class="inline-border" th:src="|/images/slider/footer_6.jpg|" alt="" width="450"
                     height="250"/>
                <img class="inline-border" th:src="|/images/slider/footer_7.jpg|" alt="" width="450"
                     height="250"/>
                <img class="inline-border" th:src="|/images/slider/footer_8.jpg|" alt="" width="450"
                     height="250"/>

                <ul class="social-icons">
                    <li class="vimeo-social"><a href="#">&nbsp;</a></li>
                    <li class="twitter-social"><a href="#">&nbsp;</a></li>
                    <li class="flickr-social"><a href="#">&nbsp;</a></li>
                    <li class="facebook-social"><a href="#">&nbsp;</a></li>
                    <li class="dribbble-social"><a href="#">&nbsp;</a></li>
                </ul>
            </div>
        </div>

        <div class="bottom_footer">
            <div class="left">
                <p>&copy; Copyright &copy; 2013.Company name All rights reserved. </p>
                <ul class="footer_menu">
                    <li><a href="#">Term of service</a>|</li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="right area2">
                <p>Website designed by: <a href="#">GfxPartner</a></p>
                <p>888-888-888 | <a href="#">info@gfxpartner.com</a></p>
            </div>
            <div class="clear"></div>
        </div>
    </div> <!-- end of elastic -->
</div><!-- #footer -->

<!-- 模态框 -->
<!-- 注册登录模块框 -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#home" aria-controls="login" role="tab" data-toggle="tab">登录</a>
                            </li>
                            <li role="presentation">
                                <a href="#tab" aria-controls="register" role="tab" data-toggle="tab">注册</a>
                            </li>
                        </ul>
                    </div>
                </h4>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="modal-body">
                        <form class="form-horizontal" id="user_form" method="post" th:action="@{/doLogin}">
                            <div class="form-group">
                                <label for="login_loginName" class="col-sm-2 control-label">账号</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="login_loginName" placeholder="账号"
                                           name="userName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="login_loginPassword" class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="login_loginPassword" placeholder="密码"
                                           name="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="validateCode" class="col-sm-2 control-label">验证码</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="validateCode" placeholder="验证码"
                                           name="validateCode">
                                    <div class="code" style="float: right">
                                        <img  th:src="@{/code}" onclick="changeCode()" id="checkCodeImg" />
                                        <a href="javascript:changeCode()">看不清换一张</a><br>
                                        <!-- <img src="${pageContext.request.contextPath}/code" onclick="changeCode()" id="checkCodeImg"/>
                                        <a href="javascript:changeCode()" >看不清换一张</a><br> -->
                                    </div>
                                </div>
                            </div>
                            <input type="submit" value="" id="doLogin" style="display: none">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="loginBtn">登录</button>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="tab">
                    <div class="modal-body">
                        <form class="form-horizontal" id="register_user_form" method="post" th:action="@{/doRegister}">
                            <div class="form-group">
                                <label for="register_loginName" class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="register_loginName"
                                           placeholder="账号" name="userName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="register_nickName" class="col-sm-2 control-label">昵称</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="register_nickName"
                                           placeholder="昵称" name="nickName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="register_loginPwd" class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="register_loginPwd"
                                           placeholder="密码" name="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="register_checkPwd" class="col-sm-2 control-label">确认密码</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="register_checkPwd"
                                           placeholder="确认密码" name="checkPassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="register_gender" class="col-sm-2 control-label">性别</label>
                                <div class="col-sm-8">
                                    <select name="gender" id="register_gender" class="form-control">
                                        <option value="男">男</option>
                                        <option value="女">女</option>
                                        <option value="其他">其他</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="register_email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="register_email"
                                           placeholder="Email" name="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="register_QQ" class="col-sm-2 control-label">QQ</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="register_QQ" placeholder="QQ账号"
                                           name="qq">
                                </div>
                            </div>
                            <input type="submit" value="" id="doRegister" style="display: none">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="registerBtn">注册</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- 注册登录模块框 -->

</body>

</html>