<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!--数据库连接配置文件-->
    <context:property-placeholder location="classpath:db.properties" system-properties-mode="FALLBACK"/>
    <!--配置数据源-->
    <bean class="com.alibaba.druid.pool.DruidDataSource" id="source">
        <property name="driverClassName" value="${driver}"/>
        <property name="name" value="${username}"/>
        <property name="password" value="${password}"/>
        <property name="url" value="${url}"/>
    </bean>
    <!--配置mapper-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:config.xml"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        <property name="dataSource" ref="source"/>
        <property name="typeAliasesPackage" value="com.larimar.entity"/>
    </bean>
    <!--dao层对象注入 扫描器-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--mapper注册-->
        <property name="basePackage" value="com.larimar.mapper"/>
    </bean>
</beans>